<h1>New Application</h1>

<div id="new_application">
  <%= form_with url: "/applications", method: :post, local: true do |f| %>
    <%= f.label :name, required: true %>
    <%= f.text_field  :name  %>

    <br>

    <%= f.label :street_address, required: true %>
    <%= f.text_field :street_address  %>

    <br>

    <%= f.label :city, required: true %>
    <%= f.text_field :city  %>

    <br>

    <%= f.label :state, required: true %>
    <%= f.text_field :state  %>

    <br>

    <%= f.label :zip, required: true %>
    <%= f.text_field :zip  %>

    <br>

    <%= f.label :description, "Why You Would Be A Good Home For This Pet:", required: true %>
    <%= f.text_area :description %>

    <br>

    <%= f.submit "Submit" %> 
  <% end %>
</div>